@import "../css/common.css"
@import "_base.sss"
@import "_vars.sss"
@import "_header.sss"
@import "_form-elements.sss"
@import "../css/swiper.css"
@import "mobile-menu.sss"
@import "stock-slider.sss"
@import "tag.sss"

.title
	font-size: em(24)
	font-weight: 500
