footer.footer
	.footer__top-cont
		.wrapper
			.footer__top
				.footer__text Фонд развития предпринимательства<br> Челябинской области - Территория Бизнеса
				
				.footer__phone
					a(href="tel:88003502474") <span>8 800</span> 350 24 74
					a.fancybox(href="#") Заказать звонок
	.footer__bot-cont
		.wrapper
			.footer__bot
				.footer__text 
					span 454091, г. Челябинск, ул. Российская, 110 к1 (2 этаж)
					a(href="mailto: info@fond74.ru") info@fond74.ru
					a(href="#") Политика конфиденциальности
				
				.f-soc
					.soc
						a.soc__link(href="#")
							img(src="img/ico-vk.svg", alt="")
						a.soc__link(href="#")
							img(src="img/ico-fb.svg", alt="")
						a.soc__link(href="#")
							img(src="img/ico-inst.svg", alt="")
				.footer__dev
					a(href="").dev
						img(src="img/ico-dev.svg", alt="")