footer.footer
	.footer__top-cont
		.wrapper
			.footer__top
				.footer-logo
					img(src="img/logo-footer.svg", alt="")
				
				.footer-menu
					.footer-menu__item.active
						a(href="").footer-menu__link Направления

					each title in ['Проекты', 'Новости', 'Контакты']
						.footer-menu__item
							a(href="").footer-menu__link=title
	.footer__bot-cont
		.wrapper
			.footer__bot
				.footer__text 
					span © 2019 Skolkovo construction association
					
				.footer__dev
					a(href="").dev
						img(src="img/ico-dev.svg", alt="")