.mobile-menu
header.head-cont
	.wrapper
		.head
			.head-logo
				a(href="")
					include ../../img/logo.svg
				
			nav.main-nav
				ul.main-nav__list
					each title in ['Направления', 'Проекты', 'Новости', 'Контакты']
						li.main-nav__item
							a(href="").main-nav__link=title
			
			a(href="").head-auth Личный кабинет
			.head-langs
				select
					option(value="1") en
					option(value="2") ru
			.burger
				span
				
	