section.tags-cont
	.wrapper
		.tags
			.tags__list
				a(href="").tags__link.active Все
				each title, i in ['Гражданское строительство', 'Военное строительство', 'Энергетическое строительство', 'Гидротехническое строительство', 'Транспортное строительство', 'Промышленное строительство', 'Системы автоматизации и робототехники', 'Производство', 'Сельскохозяйственное строительство']
					a(href="").tags__link=title

			<!-- теги для мобильной версии -->
			.tags-mobile
				select
					each title, i in ['Гражданское строительство', 'Военное строительство', 'Энергетическое строительство', 'Гидротехническое строительство', 'Транспортное строительство', 'Промышленное строительство', 'Системы автоматизации и робототехники', 'Производство', 'Сельскохозяйственное строительство']
						option(value=""+i+"")=title
