section.tags-cont
	.wrapper
		.tags
			.tags__list
				a(href="").tags__link.active Все
				each title, i in ['МФЦ для бизнеса', 'Фонд финансирования промышленности и предпринимательства', 'Фонд развития промышленности', 'Азбука предпринимателя', 'Деловая среда Мама – предприниматель', 'Поддержка промышленности', 'Поддержка инвесторов', 'Поддержка кластеров', 'Имущественная поддержка', 'Федеральная программа «Ты - Предприниматель»', 'Обучение Консультации', 'Услуги центра инжиниринга и сертификации', ' Поддержка экспорта', 'Предоставление поручительств РАСТИ']
					a(href="").tags__link=title

			<!-- теги для мобильной версии -->
			.tags-mobile
				select
					each title, i in ['МФЦ для бизнеса', 'Фонд финансирования промышленности и предпринимательства', 'Фонд развития промышленности', 'Азбука предпринимателя', 'Деловая среда Мама – предприниматель', 'Поддержка промышленности', 'Поддержка инвесторов', 'Поддержка кластеров', 'Имущественная поддержка', 'Федеральная программа «Ты - Предприниматель»', 'Обучение Консультации', 'Услуги центра инжиниринга и сертификации', ' Поддержка экспорта', 'Предоставление поручительств РАСТИ']
						option(value=""+i+"")=title
