<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Формы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		include inc/breadcrumbs.pug
		+titleBLock(["Главная", "Формы"])

		main#content
			section.forms
				.wrapper
					a.default-btn.fancybox(href="#call") Преобразовать
					br
					br
					a.default-btn.fancybox(href="#request") Не смогли записаться?
					br
					br
					a.default-btn.fancybox(href="#event") Записаться на мероприятие
					br
					br

		include inc/forms.pug
		include inc/footer.pug 
		include inc/scripts.pug 