<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Территория Бизнеса
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/main.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					include ../img/logo-t.svg

				br
				br
				br
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="pdderjka.html") Поддержка
						li
							a(target="_blank" href="calendar.html") Календпрь
						li
							a(target="_blank" href="event.html") 1 Мероприятие
						li
							a(target="_blank" href="news.html") Новости
						li
							a(target="_blank" href="video.html") Видео-дайджест
						li
							a(target="_blank" href="docs.html") Документы
						li
							a(target="_blank" href="docs-2.html") Документы 2 уровень
						li
							a(target="_blank" href="contacts.html") Контакты
						li
							a(target="_blank" href="lc-1.html") ЛК (обращения)
						li
							a(target="_blank" href="lc-2.html") ЛК (нет обращений)
						li
							a(target="_blank" href="supports-variant.html") ЛК (доступные виды поддержки)
						li
							a(target="_blank" href="lc-data.html") ЛК (личные данные физ.лица)
						li
							a(target="_blank" href="lc-data-1.html") ЛК (личные данные юр.лица)
						li
							a(target="_blank" href="questions.html") Вопрос-ответ
						li
							a(target="_blank" href="calendar-events.html") ЛК (мероприятия-развернутый и свёрнутый)
						li
							a(target="_blank" href="events-1.html") ЛК (мероприятия развёрнутый - нет мероприятий)
						li
							a(target="_blank" href="auth.html") ЛК (регистрация)
						li
							a(target="_blank" href="reg.html") ЛК (авторизация физ. лица)
						li
							a(target="_blank" href="reg-1.html") ЛК (авторизация физ. лица)
						li
							a(target="_blank" href="404.html") 404
						li
							a(target="_blank" href="standart-page.html") Типовая страница
						li
							a(target="_blank" href="forms.html") Формы